@import url(reset.css);

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
}

.wrapper {
    height: 100vh;
    background: url("../images/background.webp") no-repeat center/100% auto;
    color: #fff;
    font-size: 12px;
    position: relative;
}

.wrapper::before {
    content: '';
    background: rgba(22, 21, 21, 0.50);
    position: absolute;
    inset: 0;
}

.form-block {
    max-width: 500px;
    margin-left: auto;
    background: rgba(233, 233, 233, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 100%;
    padding: 60px 0;
    overflow: auto;
    position: relative;
    z-index: 1;
}

.container {
    max-width: 340px;
    margin: 0 auto;
}

.switch-box {
    margin-bottom: 75px;
    text-align: center;
    font-size: 12px;
}

.switch-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.switch-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38px;
    background-color: rgba(233, 233, 233, 0.25);
    border-radius: 30px;
    border: 1px solid #153416;
    position: relative;
    cursor: pointer;
}

.switch-label::before {
    content: '';
    background-color: #153416;
    border-radius: 30px;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 50%;
    height: 32px;
    transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}

.switch-input:checked + .switch-label::before {
    transform: translate(calc(100% - 4px));
}

.switch-label span {
    position: relative;
    flex: 1 1 50%;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.form-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 14px;
}

.form-input input {
    padding: 15px 0 15px 20px;
    width: 100%;
    background: rgba(146, 145, 145, 1);
    border-radius: 30px;
    border: none;
    outline: none;

}

.form-functional {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 10px;
}

.remember-box input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input::placeholder {
    color: #fff;
}

.remember-me {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.remember-me::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
}

.remember-box input:checked + label::before {
    border-color: rgba(21, 52, 22, 1);
    background: rgba(21, 52, 22, 1);
}

.remember-box input:checked + label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 4px;
    width: 7px;
    height: 12px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(36deg);
}

.forgot-password {
    color: rgba(21, 52, 22, 1);
}

.submit-button {
    text-align: center;
    padding: 15px 0;
    background: rgba(21, 52, 22, 1);
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
}

.create-account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.text {
    color: rgba(21, 52, 22, 1);
    text-align: center;
}

.margin-b-30 {
    margin-bottom: 30px;
}

.sign-up {
    color: #fff;
}

.icon {
    width: 24px;
    height: 24px;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

ul.media li:first-child svg {
    width: 14px;
}